/* 这个文件专门放 博客列表页 的专用样式 */

/* 针对博客的容器进行设置 */
/* .blog {

} */

.blog .title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
}

.blog .date {
    text-align: center;
    color: rgb(0, 128, 0);
    padding: 10px 0;
}

.blog .desc {
    text-indent: 2em;
}

.blog a {
    /* 转成块级元素, 才好设置尺寸 */
    display: block;
    width: 120px;
    height: 40px;
    /* 元素水平居中 */
    margin: 10px auto;
    /* 文字水平居中 */
    text-align: center;
    /* 文字垂直居中 */
    line-height: 40px;
    color: black;
    /* 去掉下划线 */
    text-decoration: none;
    /* 加上边框 */
    border: 2px solid black;

    /* 加上一个背景的渐变效果 */
    transition: all 0.7s;
}

/* 鼠标悬停的时候, 有个动态效果 */
.blog a:hover {
    background-color: black;
    color: white;
}